body{
	margin: 0;
	padding: 0;
	background-color: #101245;
	font-family: 'Inter', sans-serif;
	
}
ul{ list-style: none; }

h1{
	color: #99EFD0;

}

h2{
	color: #F2994A;
}

h3{
	color: #99EFD0;
}


h4{
	color: #3C3E7D;
}

p{
	color: #8476AA;
}

a{
	text-decoration: none;
}

.a1{ font-family: 'Baloo Tammudu 2', cursive;
font-family: 'Inter', sans-serif;

}


.picter1{
	display: flex;
	padding: 40px;
}

.div1{
	padding-left: 10px;
	padding-right: 10px;
}

.man{
	padding-left: 0px
	padding-right: 10%;
}

.style-list1{
	display: flex;
}

.header-list1{
	padding-left: 10px;
	padding-right:10px;
}